In [1]:
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib import style
from matplotlib.dates import DateFormatter

import numpy as np

In [2]:
df = pd.read_csv('formatted_download.csv')

In [3]:
# Value is in Kelvin
df

         Latitude  Longitude       Value
0            90.0       0.00  249.149124
1            90.0       0.25  249.149124
2            90.0       0.50  249.149124
3            90.0       0.75  249.149124
4            90.0       1.00  249.149124
5            90.0       1.25  249.149124
6            90.0       1.50  249.149124
7            90.0       1.75  249.149124
8            90.0       2.00  249.149124
9            90.0       2.25  249.149124
10           90.0       2.50  249.149124
11           90.0       2.75  249.149124
12           90.0       3.00  249.149124
13           90.0       3.25  249.149124
14           90.0       3.50  249.149124
15           90.0       3.75  249.149124
16           90.0       4.00  249.149124
17           90.0       4.25  249.149124
18           90.0       4.50  249.149124
19           90.0       4.75  249.149124
20           90.0       5.00  249.149124
21           90.0       5.25  249.149124
22           90.0       5.50  249.149124
23           90.0       5.75  249.149124
24           90.0       6.00  249.149124
25           90.0       6.25  249.149124
26           90.0       6.50  249.149124
27           90.0       6.75  249.149124
28           90.0       7.00  249.149124
29           90.0       7.25  249.149124
...           ...        ...         ...
1038210     -90.0     352.50  260.475296
1038211     -90.0     352.75  260.475296
1038212     -90.0     353.00  260.475296
1038213     -90.0     353.25  260.475296
1038214     -90.0     353.50  260.475296
1038215     -90.0     353.75  260.475296
1038216     -90.0     354.00  260.475296
1038217     -90.0     354.25  260.475296
1038218     -90.0     354.50  260.475296
1038219     -90.0     354.75  260.475296
1038220     -90.0     355.00  260.475296
1038221     -90.0     355.25  260.475296
1038222     -90.0     355.50  260.475296
1038223     -90.0     355.75  260.475296
1038224     -90.0     356.00  260.475296
1038225     -90.0     356.25  260.475296
1038226     -90.0     356.50  260.475296
1038227     -90.0     356.75  260.475296
1038228     -90.0     357.00  260.475296
1038229     -90.0     357.25  260.475296
1038230     -90.0     357.50  260.475296
1038231     -90.0     357.75  260.475296
1038232     -90.0     358.00  260.475296
1038233     -90.0     358.25  260.475296
1038234     -90.0     358.50  260.475296
1038235     -90.0     358.75  260.475296
1038236     -90.0     359.00  260.475296
1038237     -90.0     359.25  260.475296
1038238     -90.0     359.50  260.475296
1038239     -90.0     359.75  260.475296

[1038240 rows x 3 columns]

In [4]:
df.columns.values

array(['Latitude', 'Longitude', 'Value'], dtype=object)

In [5]:
df['Value_C'] = df['Value'] - 273.15

In [6]:
df.Value_C

0         -24.000876
1         -24.000876
2         -24.000876
3         -24.000876
4         -24.000876
5         -24.000876
6         -24.000876
7         -24.000876
8         -24.000876
9         -24.000876
10        -24.000876
11        -24.000876
12        -24.000876
13        -24.000876
14        -24.000876
15        -24.000876
16        -24.000876
17        -24.000876
18        -24.000876
19        -24.000876
20        -24.000876
21        -24.000876
22        -24.000876
23        -24.000876
24        -24.000876
25        -24.000876
26        -24.000876
27        -24.000876
28        -24.000876
29        -24.000876
             ...
1038210   -12.674704
1038211   -12.674704
1038212   -12.674704
1038213   -12.674704
1038214   -12.674704
1038215   -12.674704
1038216   -12.674704
1038217   -12.674704
1038218   -12.674704
1038219   -12.674704
1038220   -12.674704
1038221   -12.674704
1038222   -12.674704
1038223   -12.674704
1038224   -12.674704
1038225   -12.674704
1038226   -12.674704
1038227   -12.674704
1038228   -12.674704
1038229   -12.674704
1038230   -12.674704
1038231   -12.674704
1038232   -12.674704
1038233   -12.674704
1038234   -12.674704
1038235   -12.674704
1038236   -12.674704
1038237   -12.674704
1038238   -12.674704
1038239   -12.674704
Name: Value_C, Length: 1038240, dtype: float64